body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(243, 237, 237);
    opacity: 0.9;
}


/* pantallas de 1025 en adelante (monitores) */

@media screen and (min-width: 1025px) {
    /* encabezado de pagina estilo */
    .encabezadoPag {
        width: 1514px;
        height: 200px;
        background-color: rgb(243, 237, 237);
    }
    /* logo */
    .nutribot {
        position: absolute;
        left: 150px;
    }
    /* estilo de botones del encabezado */
    button {
        margin: 20px;
    }
    .bttn {
        width: 250px;
        height: 50px;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 15px 30px;
        font-family: 'Lato', sans-serif;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        left: 450px;
        top: 40px;
        display: inline-block;
        outline: none;
    }
    .menu {
        background: linear-gradient(0deg, rgba(24, 103, 75, 1) 0%, rgba(24, 207, 102, 1) 100%);
        border: none;
    }
    .menu:hover {
        background: linear-gradient(0deg, rgba(24, 103, 75, 1) 0%, rgba(24, 176, 75, 1) 100%);
        border: none;
    }
    /* pie de pagina */
    .piePag {
        /* border-style: solid; */
        width: 1514px;
        height: 200px;
        background-color: rgb(102, 165, 112);
    }
    .creador {
        position: relative;
        top: 60px;
        left: 20px;
        width: 320px;
        font-size: 13pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    .asignatura {
        position: relative;
        top: -10px;
        left: 650px;
        width: 300px;
        font-size: 13pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    .university {
        position: relative;
        top: -70px;
        left: 1200px;
        width: 300px;
        text-align: center;
        font-size: 13pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    /* mostrar recetario */
    .container {
        position: relative;
        width: 1510px;
        text-align: center;
    }
    .form {
        position: relative;
        width: 1000px;
        height: 320px;
        left: 300px;
    }
    .search-bar {
        width: 50%;
        padding: 10px 25px;
        font-size: 16px;
    }
    .search-btn {
        width: 150px;
        height: 50px;
        cursor: pointer;
        background: #3fe190;
        color: #f4f4f4;
        font-size: 16px;
    }
    .recetarios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        grid-gap: 30px;
        margin-top: 32px;
    }
    .recipe {
        background: #fff;
        border-radius: 30px;
        position: relative;
    }
    .img {
        width: 200px;
        height: 200px;
        border-radius: 40%;
    }
}


/* pantallas de 681 a 1024 (tablets y monitores)*/

@media screen and (min-width: 681px) and (max-width: 1024px) {
    /* encabezado de pagina estilo */
    .encabezadoPag {
        width: 990px;
        height: 200px;
        background-color: rgb(243, 237, 237);
        /* border-style: solid; */
    }
    /* logo */
    .nutribot {
        position: absolute;
        left: 40px;
    }
    /* estilo de botones del encabezado */
    button {
        margin: 5px;
    }
    .bttn {
        width: 200px;
        height: 50px;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 15px 30px;
        font-family: 'Lato', sans-serif;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        left: 280px;
        top: 60px;
        display: inline-block;
        outline: none;
    }
    .menu {
        background: linear-gradient(0deg, rgba(24, 103, 75, 1) 0%, rgba(24, 207, 102, 1) 100%);
        border: none;
    }
    .menu:hover {
        background: linear-gradient(0deg, rgba(24, 103, 75, 1) 0%, rgba(24, 176, 75, 1) 100%);
        border: none;
    }
    /* pie de pagina */
    .piePag {
        width: 990px;
        height: 200px;
        background-color: rgb(102, 165, 112);
    }
    .creador {
        position: relative;
        top: 60px;
        left: 10px;
        width: 320px;
        font-size: 10pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    .asignatura {
        position: relative;
        top: 10px;
        left: 350px;
        width: 300px;
        font-size: 10pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    .university {
        position: relative;
        top: -30px;
        left: 660px;
        width: 300px;
        text-align: center;
        font-size: 10pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    /* mostrar recetario */
    .container {
        position: relative;
        width: 980px;
        text-align: center;
    }
    .form {
        position: relative;
        width: 700px;
        height: 320px;
        left: 170px;
    }
    .search-bar {
        width: 50%;
        padding: 10px 25px;
        font-size: 16px;
    }
    .search-btn {
        width: 150px;
        height: 50px;
        cursor: pointer;
        background: #3fe190;
        color: #f4f4f4;
        font-size: 16px;
    }
    .recetarios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        grid-gap: 30px;
        margin-top: 32px;
    }
    .recipe {
        background: #fff;
        border-radius: 30px;
        position: relative;
    }
    .img {
        width: 200px;
        height: 200px;
        border-radius: 20%;
    }
}


/* pantallas de 0 a 680 (dispositivos moviles)*/

@media screen and (min-width: 0px) and (max-width: 680px) {
    /* Definicion de estilos */
    /* encabezado de pagina estilo */
    .encabezadoPag {
        width: 660px;
        height: 200px;
        background-color: rgb(243, 237, 237);
    }
    /* logo */
    .nutribot {
        position: absolute;
        left: 250px;
    }
    /* estilo de botones del encabezado */
    button {
        margin: 5px;
    }
    .bttn {
        width: 170px;
        left: 50px;
        height: 50px;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 15px 30px;
        font-family: 'Lato', sans-serif;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        top: 200px;
        display: inline-block;
        outline: none;
    }
    .menu {
        background: linear-gradient(0deg, rgba(24, 103, 75, 1) 0%, rgba(24, 207, 102, 1) 100%);
        border: none;
    }
    .menu:hover {
        background: linear-gradient(0deg, rgba(24, 103, 75, 1) 0%, rgba(24, 176, 75, 1) 100%);
        border: none;
    }
    /* pie de pagina */
    .piePag {
        position: relative;
        top: 70px;
        width: 660px;
        height: 200px;
        background-color: rgb(102, 165, 112);
    }
    .creador {
        position: relative;
        top: 30px;
        left: 30px;
        width: 320px;
        font-size: 10pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    .asignatura {
        position: relative;
        top: -20px;
        left: 400px;
        width: 300px;
        font-size: 10pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    .university {
        position: relative;
        top: 30px;
        left: 150px;
        width: 300px;
        text-align: center;
        font-size: 10pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ffffffd3;
    }
    /* mostrar recetario */
    .container {
        position: relative;
        width: 650px;
        top: 60px;
        text-align: center;
    }
    .form {
        position: relative;
        width: 400px;
        height: 320px;
        left: 170px;
    }
    .search-bar {
        width: 50%;
        padding: 10px 25px;
        font-size: 16px;
    }
    .search-btn {
        width: 150px;
        height: 50px;
        cursor: pointer;
        background: #3fe190;
        color: #f4f4f4;
        font-size: 16px;
    }
    .recetarios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        grid-gap: 30px;
        margin-top: 32px;
    }
    .recipe {
        background: #fff;
        border-radius: 30px;
        position: relative;
    }
    .img {
        width: 200px;
        height: 200px;
        border-radius: 20%;
    }
}